:root.theme-dark {
  --background-image: url('../images/cover-image-dark.png');
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --footer-color: rgba(219, 0, 255, 1);
  --title-color: rgba(0, 0, 40, 1);
  --title-bold-color: rgba(255, 0, 112, 1);
  --background-color: rgba(0, 0, 40, 1);
  --link-color: rgba(255, 0, 112, 1);
  --text-shadow-footer: rgba(255, 0, 112, 1);
}
.theme-dark .decorative__item {
  display: block;
}