:root {
  --background-image: url('../images/cover-image-dark.png');
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --footer-color: rgba(219, 0, 255, 1);
  --title-color: rgba(0, 0, 40, 1);
  --title-bold-color: rgba(255, 0, 112, 1);
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --main-font: 'IBM Plex mono';
  --background-color: rgba(0, 0, 40, 1);
  --font-weight-normal: 400;
  --font-weight-heading: 700;
  --link-color: rgba(255, 0, 112, 1);
  --text-shadow-footer: rgba(255, 0, 112, 1);
}